{% load rest_framework %}

<html><body>
{% if user.id == paciente.usuario.id%}
Usuario:{{user.id}}
Paciente:{{paciente.usuario.id}}

<form action="{% url 'info_paciente' pk=paciente.pk %}" method="POST">
    {% csrf_token %}
    {% render_form paciente %}
    <input type="submit" value="Save">
</form>

<h2> Signos Vitales</h2>
<form action="{% url 'info_paciente' pk=paciente.pk %}" method="POST">
    {% csrf_token %}
    {% render_form signos_vitales %}
    <input type="submit" value="Save">
</form>

{% else %}
Usuario:{{user.id}}
Paciente:{{paciente.usuario.id}}
<p>Personal Asignado: {{ paciente.personal_salud.nombre }}<p>
<p>Nombre: {{paciente.nombre}}</p>
<p>Edad: {{paciente.edad}}</p>
<p>Dirección: {{paciente.direccion}}</p>
<p>Teléfono: {{paciente.telefono}}</p>
<p>Usuario: {{paciente.usuario}}</p>

<h1>Signos Vitales</h1>
<p>Oximetría:{{paciente.signos_vitales.oximetria}}</p>
<p>Frecuencia_Cardiaca:{{paciente.signos_vitales.frecuencia_cardiaca}}</p>
<p>Oximetría:{{paciente.signos_vitales.oximetria}}</p>
<p>Frecuencia_Cardiaca:{{paciente.signos_vitales.frecuencia_cardiaca}}</p>
<p>Oximetría:{{paciente.signos_vitales.oximetria}}</p>
<p>Frecuencia_Cardiaca:{{paciente.signos_vitales.frecuencia_cardiaca}}</p>
{% endif %}
</body></html>