{% load rest_framework %}

<html><body>
<h1>Información Personal</h1>
<p>ID:{{paciente.usuario.id}}</p>
<p>Personal Asignado: {{ paciente.personal_salud.nombre }}<p>
<p>Nombre: {{paciente.nombre}}</p>
<p>Apellido: {{paciente.apellidos}}</p>
<p>Dirección: {{paciente.direccion}}</p>
<p>Teléfono: {{paciente.telefono}}</p>
<p>Usuario: {{paciente.usuario}}</p>

<a href="{% url 'signos_vitales-list' %}"><h1>Signos Vitales</h1></a>
<a href="{% url 'historias-list' %}"><h1>Ver Historias</h1></a>
</body></html>